bin
.cache
include/Coq.def
include/Coq-parenthesize.str
include/Coq-Permissive.def
include/Coq.generated.pp.af
include/Coq.packed.esv
include/Coq.pp.af
include/Coq.rtg
include/Coq.str
include/Coq.tbl
include/coq.rtree
include/coq.ctree
include/coq.ctree.dep
include/coq.jar
include/coq-java.jar
editor/java/trans
editor/*.generated.*
syntax/*.sdf
trans/*.generated.*
.settings/org.eclipse.jdt.core.prefs
utils
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
/include
