bin
.cache
editor/java/trans
editor/*.generated.*
include
lib/runtime
lib/*.generated.str
lib-refactoring/*.generated.str
syntax/*.sdf
syntax/*.generated.*
syntax/extensions/*.sdf
syntax/extensions/*.generated.*
trans/*.generated.*
utils
.settings/org.eclipse.jdt.core.prefs
